# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_ROLE=SUPPLYSIGHT_DEV_SERVICE
SNOWFLAKE_PRIVATE_KEY_FILE=
SNOWFLAKE_WAREHOUSE=SUPPLY_CHAIN_DEV_WH
SNOWFLAKE_DATABASE=SUPPLY_CHAIN_DEV
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
